[submodule "Engine"]
	path = Engine
	url = ../2D-Engine.git
[submodule "StarAnimation"]
	path = StarAnimation
	url = ../Star-Animation.git
[submodule "Game/Core"]
	path = Game/Core
	url = ../Chinese-Chess-Rules.git
